{% extends 'base.html' %}

{% block title %}
    Про нас
{% endblock %}
{% block body %}
    <main class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <p class="lead">Данный проект был создал в целях, решить проблему соц. выплат, выяснить кто может их получить. Создать статью которая объяснить простому пользователю, может ли он получить выплату. Гражданин может пройти соц. опрос на сайте позволяющий в дальнейшем с ним связаться.</p>
            <p class="lead">Разработчики web приложения:</p>
            <p class="lead">danil9let48@mail.ru (Даниил)</p>
                <p class="lead">ilya.kamckine@ya.ru (Илья)</p>
            <p class="lead">working_pavel@mail.ru (Павел)</p>
            <p class="lead">senya.segeda@mail.ru (Арсений)</p>
{% endblock %}