{% extends "base.html" %}

{% block title %}
	Главная страница
{% endblock %}

{% block body %}
	<main class="container">
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-1"><strong><em>Социальная карта</em></strong></h1>
            <div class="px-4 pt-5 my-5 text-center border-bottom border-4">
			<h1 class="text-center">Какая семья является малоимущей</h1>
			<p class="lead">Семья считается мало имущей, если доход на одного члена семьи - ниже прожиточного минимума.
                В состав малоимущей семьи при расчете среднедушевого дохода включаются лица, связанные
				родством и (или) свойством. К ним относятся совместно проживающие и ведущие совместное хозяйство
				супруги, их дети и родители, усыновители и усыновленные, братья и сестры, пасынки и падчерицы.</p>
			<a class="text-blue text-decoration-none" href="http://www.kremlin.ru/acts/bank/19356"
			   target="_blank">(ФЗ № 44 от 05.04.2003г.)</a>
            </div>
            <div class="px-4 pt-5 my-5 text-center border-bottom border-4">
			<h1 class="text-center">В состав малоимущей семьи не включаются</h1>
			<p class="lead">Военнослужащие, проходящие военную службу по призыву или обучающиеся в военных
				профессиональных и образовательных организациях высшего образования и не заключившие контракт о
				прохождении военной службы; отбывающие наказание в виде лишения свободы, заключенные под стражу,
				находящиеся на принудительном лечении по решению суда; лица, находящиеся на полном государственном
				обеспечении.</p>
            <a class="text-blue text-decoration-none"
               href="http://publication.pravo.gov.ru/Document/View/0001201307080024?index=0&rangeSize=1"
			   target="_blank">(в ред. Федерального закона от 02.07.2013 N 185-ФЗ)</a>
            </div>
            <div class="px-4 pt-5 my-5 text-center border-bottom border-4">
			<h1 class="text-center">Какие поступления учитываются при подсчете суммы дохода</h1>
			<ul class="list-group">
				<li class="list-group-item">Зарплата.</li>
				<li class="list-group-item">Алименты.</li>
				<li class="list-group-item">Выходное пособие и прочие выплаты.</li>
				<li class="list-group-item">Пенсии.</li>
				<li class="list-group-item">Дходы от имущества (аренда, продажа).</li>
				<li class="list-group-item">Стипенции.</li>
				<li class="list-group-item">Гонорары.</li>
				<li class="list-group-item">Дивиденды от акций.</li>
				<li class="list-group-item">Иные доходы. Разовая (единовременная) материальная помощь от государства в таком случае в расчет не
					берется.
				</li>
			</ul>
            <a class="text-blue text-decoration-none" href="https://rg.ru/2020/04/28/o-porjadke-ucheta-dohodov-dok.html"
			   target="_blank">(Федеральный закон от 24 апреля 2020 г. N 125-ФЗ)</a>
            </div>
            <div class="px-4 pt-5 my-5 text-center border-bottom border-4">
			<h1 class="text-center">Среднедушевой доход семьи</h1>
			<p class="lead">Среднедушевой доход семьи рассчитывается по формуле: ⅓ суммы доходов всех членов семьи за
				три последних месяца делится на число членов семьи. Если по-простому: все доходы семьи за три месяца
				складываются и делятся на три и на количество человек в семье.</p>
			<h4 class="text-center">В состав семьи не включаются:</h4>
			<ul class="list-group">
				<li class="list-group-item">Военнослужащие, проходящие службу по призыву или обучающиеся в военных организациях высшего
					образования, которые не заключили контракт о прохождении военной службы.
				</li>
				<li class="list-group-item">Отбывающие наказание в виде лишения свободы или заключенные под стражу.</li>
				<li class="list-group-item">Находящиеся на принудительном лечении по решению суда.</li>
				<li class="list-group-item">Находящиеся на полном государственном обеспечении.</li>
			</ul>
            <a class="text-blue text-decoration-none" href="https://base.garant.ru/70771488/"
               target="_blank">(Постановление Правительства РФ от 18 октября 2014 г. N 1075)</a>
            </div>
            <div class="px-4 pt-5 my-5 text-center border-bottom border-4">
			<h1 class="text-center">Какие доходы учитываются при подаче заявления об оказании социальной помощи от
				государства</h1>
			<p class="lead">Учитываются доходы каждого члена семьи за три последних месяца до месяца подачи заявления об
				оказании социальной помощи от государства. Если заявление на льготу подается в апреле, будут учитываться
				доходы за март, февраль и январь. При расчете некоторых льгот может учитываться средний доход семьи за
				большее время. Например, при расчете субсидии на оплату ЖКУ обычно учитывается доход семьи за последние
				полгода. В расчет берутся все доходы семьи: зарплаты и премии, доходы от сдачи жилья или другого
				имущества в аренду, единовременные и ежемесячные пособия на детей, пенсии и другие социальные
				выплаты.</p>
            <a class="text-blue text-decoration-none" href="https://base.garant.ru/70771488/"
               target="_blank">(Постановление Правительства РФ от 18 октября 2014 г. N 1075)</a>
            </div>
            <div class="px-4 pt-5 my-5 text-center border-bottom border-4">
            <h1 class="text-center">Жилищные льготы</h1>
            <p class="lead">Существуют жилищные льготы, обеспечивающие, малообеспеченным гражданам и семьям, жильем.
                Такие граждане имеют право пользоваться жильем от госудасрства бесплатно или за небольшую плату по
                договору социального найма. </p>
            <a class="text-blue text-decoration-none" href="http://www.kremlin.ru/acts/bank/19356"
			   target="_blank">(Фп. 3 ст. 40 Конституции РФ ст. 49 гл. 7 ЖК РФ)</a>
            <p class="lead">Получить жилье от государства просто так не получится. Сначала нужно оформить статус
                малоимущей семьи и встать на учет как нуждающийся в жилом помещении.</p>
            </div>
            <div class="px-4 pt-5 my-5 text-center">
            <h1 class="text-center">Кому полагается материальная помощь от государства в Удмуртской республике</h1>
            <ul class="list-group">
                <li class="list-group-item">Малоимущие семьи.</li>
                <li class="list-group-item">Малоимущие одиноко проживающие.</li>
            </ul>
            </div>
            <div class="px-4 pt-5 my-5 text-center border-bottom border-4">
            <h1 class="text-center">Материальная помощь в трудной жизненной ситуации</h1>
                <div class="px-4 my-5 text-center">
                    <h4 class="text-center">Единовременная денежная выплата предоставляется в следующих размерах:</h4>
                </div>
            <ui class="list-group">
                <li class="list-group-item">малоимущей семье - в размере не ниже 5 процентов, но не выше 250 процентов
                    от разницы между величиной прожиточного минимума семьи и среднедушевым доходом семьи</li>
                <li class="list-group-item">малоимущему одиноко проживающему гражданину - в размере не ниже 5 процентов,
                    но не выше 250 процентов от разницы между величиной прожиточного минимума одиноко проживающего
                    гражданина и дохода одиноко проживающего гражданина</li>
            </ui>
                <div class="px-4 my-5 text-center">
                    <h4 class="text-center">Поддержка семей в трудной жизненной ситуации:</h4>
                </div>
            <ui class="list-group">
                <li class="list-group-item">Оказание единовременной материальной помощи семьям и одиноким беременным
                    женщинам, оказавшимся в трудной жизненной ситуации, проживающим на территории Удмуртской Республики.
                    Материальная помощь оказывается один раз в два года в размере 3 000 рублей.</li>
                <li class="list-group-item">Оказание единовременной материальной помощи студенческим семьям при рождении
                    ребенка. Среднедушевой доход семьи должен быть ниже двухкратной величины прожиточного минимума,
                    установленного в Удмуртской Республике в расчете на душу населения (в 2021 году величина
                    прожиточного минимума на душу составляет 10 465 рублей). Материальная помощь оказывается
                    единовременно в размере 100 000 тыс. руб. независимо от количества рожденных одновременно детей и
                    назначается, если обращение за ней последовало не позднее 6 месяцев со дня рождения ребенка.</li>
                <li class="list-group-item">Единовременная материальная помощь семьям, направляющим детей-инвалидов на
                    продолжительное лечение или операцию за пределы Удмуртской Республики. Право на получение
                    материальной помощи имеет один из родителей (одинокий родитель, усыновитель, опекун, попечитель)
                    ребенка-инвалида в случае направления ребенка на продолжительное лечение или операцию за пределы
                    Удмуртской Республики. Материальная помощь оказывается один раз в год на одного ребенка-инвалида в
                    размере 3 800 рублей.</li>
            </ui>
            <p class="lead">Выплаты могут прикратится, если у семье увеличились доходы.</p>
            <a class="text-blue text-decoration-none" href="https://minsoc18.ru/family/support-families/"
			   target="_blank">(Поддержка семей в трудной жизненной ситуации)</a>
            </div>
			<!-- График -->
			<div class="mt-5" id="chart">
				<script>
                    $(document).ready(function () {
                        $("#chart").shieldChart({
                            theme: "light",
                            primaryHeader: {
                                text: "Динамика уровня бедности населения Удмуртской Республики в процентах"
                            },
                            exportOptions: {
                                image: false,
                                print: false
                            },
                            axisX: {
                                categoricalValues: ['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
                                    '2015', '2016', '2017', '2018', '2019', '2020',]
                            },
                            tooltipSettings: {
                                chartBound: true,
                                axisMarkers: {
                                    enabled: true,
                                    mode: 'xy'
                                }
                            },
                            dataSeries: [{
                                seriesType: 'line',
                                collectionAlias: "Данные в (%) от общей численности населения",
                                data: [17.3, 16.1, 14.9, 13.7, 14.0, 11.1, 11.8, 11.9, 12.3, 12.4, 12.2, 12.2, 12.4,
                                    11.9]
                            }]
                        });
                    });
				</script>
			</div>
		</div>
	</main>
{% endblock %}