{% extends "base.html" %}

{% block title %}
	Главная страница
{% endblock %}

{% block body %}
	<main class="container">
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="text-center">Кто входит в состав малоимущей семьи</h1>
			<p class="lead">В состав малоимущей семьи при расчете среднедушевого дохода включаются лица, связанные
				родством и (или) свойством. К ним относятся совместно проживающие и ведущие совместное хозяйство
				супруги, их дети и родители, усыновители и усыновленные, братья и сестры, пасынки и падчерицы.</p>
			<a class="text-blue text-decoration-none" href="http://www.kremlin.ru/acts/bank/19356"
			target="_blank">(ФЗ № 44 от 05.04.2003г.)</a>
			<!-- График -->
			<div class="mt-5" id="chart">
				<script>
                    $(document).ready(function () {
                        $("#chart").shieldChart({
                            theme: "light",
                            primaryHeader: {
                                text: "Динамика уровня бедности населения Удмуртской Республики в процентах"
                            },
                            exportOptions: {
                                image: false,
                                print: false
                            },
                            axisX: {
                                categoricalValues: ['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
                                    '2015', '2016', '2017', '2018', '2019', '2020',]
                            },
                            tooltipSettings: {
                                chartBound: true,
                                axisMarkers: {
                                    enabled: true,
                                    mode: 'xy'
                                }
                            },
                            dataSeries: [{
                                seriesType: 'line',
                                collectionAlias: "Данные в (%) от общей численности населения",
                                data: [17.3, 16.1, 14.9, 13.7, 14.0, 11.1, 11.8, 11.9, 12.3, 12.4, 12.2, 12.2, 12.4,
                                    11.9]
                            }]
                        });
                    });
				</script>
			</div>
		</div>
	</main>
{% endblock %}