{% extends "base.html" %}

{% block title %}
	Главная страница
{% endblock %}

{% block body %}
	<main class="container">
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="text-center">Кто входит в состав малоимущей семьи</h1>
			<p class="lead">В состав малоимущей семьи при расчете среднедушевого дохода включаются лица, связанные
                родством и (или) свойством. К ним относятся совместно проживающие и ведущие совместное хозяйство
				супруги, их дети и родители, усыновители и усыновленные, братья и сестры, пасынки и падчерицы.</p>
			<a class="text-blue text-decoration-none" href="http://www.kremlin.ru/acts/bank/19356"
			target="_blank">(ФЗ № 44 от 05.04.2003г.)</a>
            <h1 class="text-center">В состав малоимущей семьи не включаются</h1>
            <p class="lead">Военнослужащие, проходящие военную службу по призыву или обучающиеся в военных
                профессиональных и образовательных организациях высшего образования и не заключившие контракт о
                прохождении военной службы; отбывающие наказание в виде лишения свободы, заключенные под стражу,
                находящиеся на принудительном лечении по решению суда; лица, находящиеся на полном государственном
                обеспечении.</p>
            <h1 class="text-center">Какие поступления учитываются при подсчете суммы дохода</h1>
            <li>
                <ul>Зарплата.</ul>
                <ul>Алименты.</ul>
                <ul>Выходное пособие и прочие выплаты.</ul>
                <ul>Пенсии.</ul>
                <ul>Дходы от имущества (аренда, продажа).</ul>
                <ul>Стипенции.</ul>
                <ul>Гонорары.</ul>
                <ul>Дивиденды от акций.</ul>
                <ul>Иные доходы. Разовая (единовременная) материальная помощь от государства в таком случае в расчет не
                    берется.</ul>
            </li>
            <h1 class="text-center">Среднедушевой доход семьи</h1>
            <p class="lead">Среднедушевой доход семьи рассчитывается по формуле: ⅓ суммы доходов всех членов семьи за
                три последних месяца делится на число членов семьи. Если по-простому: все доходы семьи за три месяца
                складываются и делятся на три и на количество человек в семье. В состав малоимущей семьи при расчете
                дохода включаются совместно проживающие супруги, их дети, родители, усыновители и усыновленные, братья
                и сестры, пасынки и падчерицы.</p>
            <h4 class="text-center">В состав семьи не включаются:</h4>
            <li>
                <ol>Военнослужащие, проходящие службу по призыву или обучающиеся в военных организациях высшего
                    образования, которые не заключили контракт о прохождении военной службы.</ol>
                <ol>Отбывающие наказание в виде лишения свободы или заключенные под стражу.</ol>
                <ol>Находящиеся на принудительном лечении по решению суда.</ol>
                <ol>Находящиеся на полном государственном обеспечении.</ol>
            </li>
            <h1 class="text-center">Какие доходы учитываются при подаче заявления об оказании социальной помощи от
                государства.</h1>
            <p class="lead">Учитываются доходы каждого члена семьи за три последних месяца до месяца подачи заявления об
                оказании социальной помощи от государства. Если заявление на льготу подается в апреле, будут учитываться
                доходы за март, февраль и январь. При расчете некоторых льгот может учитываться средний доход семьи за
                большее время. Например, при расчете субсидии на оплату ЖКУ обычно учитывается доход семьи за последние
                полгода. В расчет берутся все доходы семьи: зарплаты и премии, доходы от сдачи жилья или другого
                имущества в аренду, единовременные и ежемесячные пособия на детей, пенсии и другие социальные выплаты.</p>
			<!-- График -->
			<div class="mt-5" id="chart">
				<script>
                    $(document).ready(function () {
                        $("#chart").shieldChart({
                            theme: "light",
                            primaryHeader: {
                                text: "Динамика уровня бедности населения Удмуртской Республики в процентах"
                            },
                            exportOptions: {
                                image: false,
                                print: false
                            },
                            axisX: {
                                categoricalValues: ['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
                                    '2015', '2016', '2017', '2018', '2019', '2020',]
                            },
                            tooltipSettings: {
                                chartBound: true,
                                axisMarkers: {
                                    enabled: true,
                                    mode: 'xy'
                                }
                            },
                            dataSeries: [{
                                seriesType: 'line',
                                collectionAlias: "Данные в (%) от общей численности населения",
                                data: [17.3, 16.1, 14.9, 13.7, 14.0, 11.1, 11.8, 11.9, 12.3, 12.4, 12.2, 12.2, 12.4,
                                    11.9]
                            }]
                        });
                    });
				</script>
			</div>
		</div>
	</main>
{% endblock %}