{% extends "base.html" %}

{% block title %}
	Админская Информация
{% endblock %}

{% block body %}
	<main class="container">
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<!-- График -->
			<div id="chart">
				<script>
                    $(document).ready(function () {
                        $("#chart").shieldChart({
                            theme: "light",
                            primaryHeader: {
                                text: "Динамика уровня бедности населения Удмуртской Республики в процентах"
                            },
                            exportOptions: {
                                image: false,
                                print: false
                            },
                            axisX: {
                                categoricalValues: ['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
                                    '2015', '2016', '2017', '2018', '2019', '2020',]
                            },
                            tooltipSettings: {
                                chartBound: true,
                                axisMarkers: {
                                    enabled: true,
                                    mode: 'xy'
                                }
                            },
                            dataSeries: [{
                                seriesType: 'line',
                                collectionAlias: "Данные в (%) от общей численности населения",
                                data: [17.3, 16.1, 14.9, 13.7, 14.0, 11.1, 11.8, 11.9, 12.3, 12.4, 12.2, 12.2, 12.4,
                                    11.9]
                            }]
                        });
                    });
				</script>
			</div>
			<!-- Диаграмма -->
{#			<div class="mt-5">#}
{#				<script>#}
{#                    $(document).ready(function () {#}
{#                        var ctx = $("#chart-dia");#}
{#                        var myLineChart = new Chart(ctx, {#}
{#                            type: 'polarArea',#}
{#                            data: {#}
{#                                labels: ["Spring", "Summer", "Fall", "Winter"],#}
{#                                datasets: [{#}
{#                                    data: [1200, 1700, 800, 400],#}
{#                                    backgroundColor: ["rgba(255, 0, 0, 0.5)", "rgba(100, 255, 0, 0.5)", "rgba(200, 50, 255, 0.5)", "rgba(0, 100, 255, 0.5)"]#}
{#                                }]#}
{#                            },#}
{#                            options: {#}
{#                                title: {#}
{#                                    display: true,#}
{#                                    text: 'Weather'#}
{#                                }#}
{#                            }#}
{#                        });#}
{#                    });#}
{#				</script>#}
{#				<canvas id="chart-dia" width="299" height="200" class="chartjs-render-monitor" style="display: block;#}
{#			width: 299px; height: 200px;"></canvas>#}
{#			</div>#}

			<!-- Горизонтальный график -->
			<div class="mt-5">
				<script>
                    $(document).ready(function () {
                        var ctx = $("#chart-line");
                        var stra = "{{ '_'.join(poverty['titles']) }}".split('_');
                        var myLineChart = new Chart(ctx, {
                            type: 'horizontalBar',
                            data: {
                                labels: stra,
                                datasets: [{
                                    data: {{ poverty['values'] }},
                                    label: "Человек",
                                    borderColor: "#458af7",
                                    backgroundColor: '#458af7',
                                    fill: false
                                }]
                            },
                            options: {
                                title: {
                                    display: true,
                                    text: 'Численность безработных граждан по МО УР на 01.01.2021г.'
                                }
                            }
                        });
                    });
				</script>
				<canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block;
			width: 299px; height: 200px;"></canvas>
			</div>
			<!-- Горизонтальный график -->
			<div class="mt-5">
				<script>
                    $(document).ready(function () {
                        var ctx = $("#chart-zarp_line");
                        var stra = "{{ '_'.join(zarp['titles']) }}".split('_');
                        var myLineChart = new Chart(ctx, {
                            type: 'horizontalBar',
                            data: {
                                labels: stra,
                                datasets: [
                                    {
                                        data: {{ zarp['reporting_month'] }},
                                        label: "Отчетный месяц",
                                        borderColor: "#458af7",
                                        backgroundColor: '#458af7',
                                        fill: false
                                    },
                                    {
                                        data: {{ zarp['period_from_beginning_reporting_year'] }},
                                        label: "Период с начала отчетного года",
                                        borderColor: "#3cba9f",
                                        backgroundColor: '#3cba9f',
                                        fill: false
                                    },
	                                {
                                        data: {{ zarp['last_moth'] }},
                                        label: "Темпы роста (снижения), в % отчетного месяца к предыдущему месяцу",
                                        borderColor: "#9771BA",
                                        backgroundColor: '#9771BA',
                                        fill: false
                                    },
	                                {
                                        data: {{ zarp['last_year'] }},
                                        label: "Темпы роста (снижения), в % отчетного месяца к соответствующему месяцу предыдущего года ",
                                        borderColor: "#BA3D9B",
                                        backgroundColor: '#BA3D9B',
                                        fill: false
                                    },
	                                {
                                        data: {{ zarp['beginning_reporting_period_previous_year'] }},
                                        label: "Темпы роста (снижения), в % отчетного месяца к периода с начала " +
	                                        "отчетного года к соответствующему периоду предыдущего года",
                                        borderColor: "#BA6C52",
                                        backgroundColor: '#BA6C52',
                                        fill: false
                                    }
                                ]
                            },
                            options: {
                                title: {
                                    display: true,
                                    text: 'Численность безработных граждан по МО УР на 01.01.2021г.'
                                }
                            }
                        });
                    });
				</script>
				<canvas id="chart-zarp_line" width="400" height="600" class="chartjs-render-monitor" style="display:
				block; width: 400px; height: 600px;"></canvas>
			</div>
			<!--  -->

			<!--  -->
			<!--  -->
			<!--  -->
			<!--  -->
			<!--  -->
		</div>
	</main>
{% endblock %}