{% extends 'base.html' %}

{% block title %}
    Про нас
{% endblock %}
{% block body %}
    <main class="container">
    <form action="" method="post">
    <div class="col-md-5 px-4 my-5 text-center">
              <label for="country" class="form-label">Ваш семеный среднемесячный доход составляет:</label>
              <select class="form-select" name="1" id="1" required="">
                <option value=""> Выбери вариант ответа... </option>
                  <option> до 100тыс. руб.  </option>
                <option> до 60тыс. руб. </option>
                  <option> до 40тыс. руб. </option>
                  <option> до 20тыс. руб. </option>
              </select>
              <div class="invalid-feedback">
              </div>
            </div>
        <div class="col-md-5 px-4 my-5 text-center">
              <label for="country" class="form-label">Число людей в вашей семье?</label>
              <select class="form-select" name="2" id="2" required="">
                <option value=""> Выбери вариант ответа... </option>
                <option> 4 </option>
                  <option> 3 </option>
                  <option> 2 </option>
                  <option> Вы проживаете один </option>
              </select>
              <div class="invalid-feedback">
              </div>
            </div>
        <div class="col-md-5 px-4 my-5 text-center">
              <label for="country" class="form-label">Присутствубт ли в вашей семье льготы?</label>
              <select class="form-select" name="3" id="3" required="">
                <option value=""> Выбери вариант ответа... </option>
                  <option> да </option>
                <option> нет </option>
              </select>
              <div class="invalid-feedback">
              </div>
            </div>
        <div class="col-md-5 px-4 my-5 text-center">
              <label for="country" class="form-label">К какому типу людей вы себя относите?</label>
              <select class="form-select" name="4" id="4" required="">
                <option value=""> Выбери вариант ответа... </option>
                  <option> Я нахожусь за гранью бедности </option>
                <option> Мне хватает на жизнь </option>
                  <option> Я считаю себя обеспеченным человеком </option>
              </select>
              <div class="invalid-feedback">
              </div>
            </div>
        <div class="d-grid gap-1">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Завершить опрос</button>
        </div>
    </form>
        </main>
{% endblock %}