{% extends 'base.html' %}

{% block title %}
	Опрос
{% endblock %}
{% block body %}
	<main class="container mx-auto">
		<div class="row">
			<div class="w-50 mx-auto mt-5">
				<form action="" method="post">
					<div class="text-center mt-5">
						<label for="country" class="form-label">Ваш семеный среднемесячный доход составляет:</label>
					</div>
					<select class="form-select" name="1" id="1" required="">
						<option value=""> Выбери вариант ответа...</option>
						<option> до 100тыс. руб.</option>
						<option> до 60тыс. руб.</option>
						<option> до 40тыс. руб.</option>
						<option> до 20тыс. руб.</option>
					</select>
					<div class="text-center mt-5">
						<label for="country" class="form-label">Число людей в вашей семье?</label>
					</div>

					<select class="form-select" name="2" id="2" required="">
						<option value=""> Выбери вариант ответа...</option>
						<option> 4</option>
						<option> 3</option>
						<option> 2</option>
						<option> Вы проживаете один</option>
					</select>
					<div class="text-center mt-5">
						<label for="country" class="form-label">Присутствуют ли в вашей семье льготы?</label>
					</div>
					<select class="form-select" name="3" id="3" required="">
						<option value=""> Выбери вариант ответа...</option>
						<option> да</option>
						<option> нет</option>
					</select>
					<div class="text-center mt-5">
						<label for="country" class="form-label">К какому типу людей вы себя относите?</label>
					</div>

					<select class="form-select" name="4" id="4" required="">
						<option value=""> Выбери вариант ответа...</option>
						<option> Я нахожусь за гранью бедности</option>
						<option> Мне хватает на жизнь</option>
						<option> Я считаю себя обеспеченным человеком</option>
					</select>
					<div class="text-center">
						<button class="btn btn-primary btn-lg mt-4" type="submit">Завершить опрос</button>
					</div>
				</form>
			</div>
		</div>
	</main>
{% endblock %}